@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");
aside {
  z-index: 100;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  width: 115px;
  background-color: #198ff5;
  position: fixed;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside .logo {
  background-color: #1ba0ec;
}

aside .logo p {
  margin: 0;
  text-align: center;
  padding: 1.5rem 0;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

aside nav {
  margin: auto 0;
  padding: 0 2rem;
}

aside nav ul li a {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 13px;
  font-size: 0.9rem;
  font-weight: 600;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}

aside nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
}

aside nav ul li a i {
  font-size: 1rem;
}

aside nav ul li a span {
  position: absolute;
  margin-left: 12px;
  display: none;
}

aside:hover {
  width: 200px;
}

aside:hover .hover-apper {
  display: inline;
}

#mobile-nav-btn {
  z-index: 1999;
  display: none;
  position: fixed;
  top: 30px;
  right: 40px;
  cursor: pointer;
}

#mobile-nav-btn div {
  width: 25px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#mobile-nav-btn div:nth-child(1) {
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
}

#mobile-nav-btn div:nth-child(3) {
  -webkit-transform-origin: 2px;
          transform-origin: 2px;
}

/*Media Quries*/
@media (max-width: 900px) {
  aside {
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    height: 100vh;
    width: 200px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .hover-apper {
    display: inline-block;
    position: static;
  }
  #mobile-nav-btn {
    display: block;
  }
}

.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.rotate div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rotate div:nth-child(2) {
  opacity: 0;
}

.rotate div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#section-about .section-header .bar {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #333;
  margin-right: 15px;
}

#section-about .section-header p {
  display: inline-block;
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
}

#section-about .section-header h4 {
  letter-spacing: 1px;
  margin: 1rem 0;
  margin-bottom: 3rem;
  font-weight: 600;
}

#section-about .section-about-text {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 50px;
}

#section-about .section-about-text p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.7;
  font-weight: 600;
}

#section-about .section-about-text p span {
  color: #198ff5;
}

/* Media Query  */
@media (max-width: 900px) {
  .section-about-text {
    padding: 0 !important;
    background-color: transparent !important;
  }
  .section-about-text p {
    letter-spacing: initial !important;
    font-size: 1rem !important;
  }
  .section-header h4 {
    margin-bottom: 1.5rem !important;
  }
}

#section-contact {
  margin: 2rem 0;
  height: auto;
}

#section-contact .section-header .bar {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #333;
  margin-right: 15px;
}

#section-contact .section-header p {
  display: inline-block;
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
}

#section-contact .section-header h4 {
  letter-spacing: 2px;
  margin: 1rem 0;
  margin-bottom: 3rem;
  font-weight: 600;
}

#section-contact .section-about-text {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 50px;
}

#section-contact .section-about-text h5 {
  font-weight: 600;
  letter-spacing: 1px;
}

#section-contact .section-about-text .email-me {
  margin: 1rem 0;
  padding: 2rem 0;
  border: 1px solid #e6e5e5;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-contact .section-about-text .email-me .email-logo {
  font-size: 3rem;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  background-color: red;
  background-color: #ecf1ed;
  color: #82c690;
  margin-bottom: 1rem;
}

#section-contact .section-about-text .email-me p {
  margin-bottom: 0.5rem !important;
}

#section-contact .section-about-text .email-me p a {
  color: #333;
  font-weight: 600;
}

#section-contact .section-about-text .email-me .small-email {
  font-size: 0.9rem;
  color: #333;
  font-weight: 400;
  margin-bottom: 0 !important;
}

#section-contact .section-about-text form {
  margin: 1rem 0;
}

#section-contact .section-about-text form .form-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

#section-contact .section-about-text form .form-grid-container input {
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  font-weight: 600;
  color: #5F6F81;
  border: 0;
  outline: 0;
  border: 1px solid #e6e5e5;
}

#section-contact .section-about-text form input[type="text"], #section-contact .section-about-text form textarea {
  display: block;
  width: 100%;
  margin: 0.75rem 0;
  padding: 0.7rem 1rem;
  font-weight: 600;
  color: #5F6F81;
  border: 0;
  outline: 0;
  border: 1px solid #e6e5e5;
}

#section-contact .section-about-text form input:focus,
#section-contact .section-about-text form textarea:focus {
  -webkit-box-shadow: 0px 2px 5px #198ef56e,0px -2px 5px #198ef56e;
          box-shadow: 0px 2px 5px #198ef56e,0px -2px 5px #198ef56e;
}

#section-contact .section-about-text form .submit-btn {
  display: block;
  margin: 0 auto;
  background-color: #198ff5;
  font-weight: 400;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  outline: 0;
  border: 0;
}

@media (max-width: 900px) {
  #section-contact {
    height: auto !important;
  }
  .email-me {
    border-radius: 15px !important;
  }
  .form-grid-container {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 0.75rem !important;
  }
}

.copy-rights {
  position: relative;
  bottom: -1rem;
}

.copy-rights p {
  text-align: center;
  margin: 0 auto;
  color: #5F6F81;
  font-weight: 600;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-home .home-img {
  margin-left: 4rem;
  width: 65%;
  border-radius: 50%;
}

#section-home .home-img img {
  border-radius: 50%;
  -webkit-box-shadow: 12px 0 #aad6fc, 24px 0 #c2def7, 36px 0 #c9f8fa;
          box-shadow: 12px 0 #aad6fc, 24px 0 #c2def7, 36px 0 #c9f8fa;
}

#section-home .hero-text {
  padding-right: 4rem;
}

#section-home .hero-text .greeting {
  font-size: 1;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

#section-home .hero-text h1 {
  font-weight: 600;
  margin: 1rem 0;
}

#section-home .hero-text h1 span {
  color: #198ff5;
  letter-spacing: 1px;
}

#section-home .hero-text .hero-about {
  color: #5F6F81;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.14rem;
  margin-bottom: 1.2rem;
}

#section-home .hero-text .hero-about span {
  color: #198ff5;
}

#section-home .hero-text .cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-home .hero-text .cta-container .res-btn {
  padding: 0.5rem 2rem;
  background-color: #198ff5;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  letter-spacing: 2px;
  margin-right: 3rem;
}

#section-home .hero-text .cta-container .hero-nav {
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  display: inline-block;
  font-size: 1.3rem;
  color: #198ff5;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  margin-right: 15px;
}

#section-home .hero-text .cta-container .hero-nav:hover {
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

/* Media Query */
@media (max-width: 900px) {
  .home-img {
    margin-left: 0 !important;
  }
  .hero-text {
    padding-right: 0 !important;
  }
  .cta-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .align {
    text-align: center;
  }
}

#section-skills .section-header .bar {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #333;
  margin-right: 15px;
}

#section-skills .section-header p {
  display: inline-block;
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
}

#section-skills .section-header h4 {
  letter-spacing: 2px;
  margin: 1rem 0;
  margin-bottom: 3rem;
  font-weight: 600;
}

#section-skills .section-about-text {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 50px;
}

#section-skills .section-about-text .my-grid-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[6];
      grid-template-columns: repeat(6, 80px);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

#section-skills .section-about-text .my-grid-container .my-grid-container-item {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e6e5e5;
  border-radius: 18px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#section-skills .section-about-text .my-grid-container .my-grid-container-item img {
  margin-bottom: 8px;
}

#section-skills .section-about-text .my-grid-container .my-grid-container-item p {
  margin: 0 !important;
  font-size: 0.8rem !important;
  font-weight: 600;
}

#section-skills .section-about-text .my-grid-container .my-grid-container-item:hover {
  -webkit-box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
}

/* media query */
@media (max-width: 900px) {
  .my-grid-container {
    -ms-grid-columns: (80px)[2] !important;
        grid-template-columns: repeat(2, 80px) !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
}

#section-projects {
  height: auto;
}

#section-projects .section-header .bar {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #333;
  margin-right: 15px;
}

#section-projects .section-header p {
  display: inline-block;
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
}

#section-projects .section-header h4 {
  letter-spacing: 2px;
  margin: 1rem 0;
  margin-bottom: 3rem;
  font-weight: 600;
}

#section-projects .section-about-text {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 50px;
}

#section-projects .section-about-text .projects-container .single-project {
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.09);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  padding: 2.5rem;
  border: 1px solid #e6e5e5;
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 1fr;
      grid-template-columns: 45% 1fr;
  grid-gap: 30px;
}

#section-projects .section-about-text .projects-container .single-project:hover {
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.13);
}

#section-projects .section-about-text .projects-container .single-project .project-img {
  overflow: hidden;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-projects .section-about-text .projects-container .single-project .project-img img {
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

#section-projects .section-about-text .projects-container .single-project .project-text h4 {
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

#section-projects .section-about-text .projects-container .single-project .project-text p {
  font-size: 0.9rem;
  line-height: 1.7;
  margin-bottom: 1rem !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#section-projects .section-about-text .projects-container .single-project .project-text .project-nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0.3rem 1.1rem;
  font-size: 1rem;
  border-radius: 9px;
  background-color: #198ff5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #198ff5;
  letter-spacing: 1px;
}

#section-projects .section-about-text .projects-container .single-project .project-text .project-nav a:hover {
  background-color: #fff;
  color: #198ff5;
}

@media (max-width: 900px) {
  #section-projects {
    margin-top: 8rem;
  }
  .single-project {
    border-radius: 16px !important;
    text-align: center;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    padding: 0 !important;
    padding-bottom: 1rem !important;
  }
}

.project-img:hover img {
  overflow: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  font-size: 16px;
  color: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */